<?xml version="1.0"?>
<robot name="example_robot">
    <link name="world"/>
    <joint name="fixed_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="link0"/>
    </joint>
    <link name="link0">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.01" radius="0.5"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.01" radius="0.5"/>
            </geometry>
        </collision>
    </link>
    <joint name="q1" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="link0"/>
        <child link="link1"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="10" velocity="2"/>
    </joint>
    <link name="link1">
        <inertial>
            <origin xyz="5 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="10" radius="0.05"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="10" radius="0.05"/>
            </geometry>
        </collision>
    </link>
    <joint name="q2" type="revolute">
        <origin xyz="10 0 0" rpy="0 0 0"/>
        <parent link="link1"/>
        <child link="link2"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-1.571" upper="1.571" effort="10" velocity="2"/>
    </joint>
    <link name="link2">
        <inertial>
            <origin xyz="2.5 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="2.5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="5" radius="0.05"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="2.5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="5" radius="0.05"/>
            </geometry>
        </collision>
    </link>
    <joint name="q3" type="revolute">
        <origin xyz="5 0 0" rpy="0 0 0"/>
        <parent link="link2"/>
        <child link="link3"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.14" upper="3.14" effort="10" velocity="2"/>
    </joint>
    <link name="link3">
        <inertial>
            <origin xyz="2.5 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <origin xyz="2.5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="5" radius="0.05"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="2.5 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder length="5" radius="0.05"/>
            </geometry>
        </collision>
    </link>
    <link name="ee_yaw">
    </link>
    <link name="ee_pitch">
    </link>
    <joint name="ee_yaw_joint" type="revolute">
        <origin xyz="5 0 0" rpy="0 0 0"/>
        <parent link="link3"/>
        <child link="ee_yaw"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="10" velocity="2"/>
    </joint>
    <joint name="ee_pitch_joint" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="ee_yaw"/>
        <child link="ee_pitch"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.14" upper="3.14" effort="10" velocity="2"/>
    </joint>
    <joint name="ee_roll_joint" type="revolute">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="ee_pitch"/>
        <child link="ee"/>
        <axis xyz="1 0 0"/>
        <limit lower="-3.14" upper="3.14" effort="10" velocity="2"/>
    </joint>
    <link name="ee">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <visual>
            <geometry>
                <sphere radius="0.06"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.06"/>
            </geometry>
        </collision>
    </link>
</robot>
